# Server
SENTRY_AUTH_TOKEN=""

# Client
NEXT_PUBLIC_I18N_COOKIE_NAME_TIMEZONE="surge_time_zone"
NEXT_PUBLIC_I18N_COOKIE_NAME_LOCALE="surge_locale"
NEXT_PUBLIC_GA_MEASUREMENT_ID=""
NEXT_PUBLIC_SENTRY_DSN=""
NEXT_PUBLIC_MAIN_API_URL="https://dummyjson.com"
